<nav class="breadcrumbs" aria-label="breadcrumbs">
  <ul>
    {{#if site.homeUrl}}
    <li><a href="{{relativize site.homeUrl}}"></a></li>
    {{/if}}
    {{#if page.breadcrumbs.length}}
    {{#each page.breadcrumbs}}
    <li><a href="{{relativize this.url}}">{{this.content}}</a></li>
    {{/each}}
    {{/if}}
    <li><span>{{page.title}}</span></li>
  </ul>
</nav>
