<div class="toolbar" role="navigation" aria-label="Page tools">
<button class="nav-toggle" aria-label="Toggle navigation menu"></button>
{{#if site.homeUrl}}
  <a href="{{relativize site.homeUrl}}" class="home-link{{#if page.home}} is-current{{/if}}"></a>
{{/if}}
{{> breadcrumbs}}
</div>
