.nav-menu > .title,
.edit-this-page {
  display: none !important;
}

.navbar-menu .navbar-end,
.navbar-item.has-dropdown,
.navbar-link,
.button.is-primary {
  display: none !important;
}

.footer p {
  margin: 0;
}

.breadcrumbs ul li:first-child a {
  text-transform: none;
}
